
$base-accent: #ff5722;
$base-text-color: #000000de;
$base-bg: #ffffff;
$base-border-color: #e0e0e0;
$base-border-radius: 4px;


.login-form {
  .link {
    text-align: center;
    font-size: 16px;
    font-style: normal;

    a {
      text-decoration: none;
    }
  }

  ::ng-deep .form-text {
    margin: 10px 0;
    color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  }
}
