.wrapper {
  height: 99vh;

  .wrapper-header {
    height: 100px;
    background-color: burlywood;
  }
}

.rect {
  padding: 2rem;
  font-size: 30px;
  text-align: center;
  border: 0.7px solid gray;
}

.login-form {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
